@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;500;700;900&display=swap");

body {
  margin: 0;
  font-family: Outfit;
  font-weight: 900;
}

header {
  height: 15vh;
  color: white;
  background-color: rgb(0, 0, 55);
  padding: 3vh;
}

.container {
  display: flex;
  height: 80vh;
}

.artas-container {
  display: flex;
  width: 90vw;
}

.article {
  background-color: white;
  flex-grow: 1;
  padding: 3vh;
}

.aside {
  background-color: rgb(60, 0, 128);
  flex-basis: 10vw;
  padding: 3vh;
  color: white;
}

.nav {
  background-color: rgb(235, 65, 138);
  flex-basis: 10vw;
  padding: 3vh;
  color: white;
}

footer {
  height: 15vh;
  padding: 3vh;
  color: white;
  background-color: rgb(0, 0, 55);
  padding: 3vh;
}

@media screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 80vh;
  }
  .artas-container {
    display: flex;
    width: 100vw;
    height: 70vh;
  }

  .aside {
    flex-basis: 14vw;
  }
}

@media screen and (max-width: 575px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 80vh;
  }

  .artas-container {
    display: flex;
    flex-direction: column;
    height: 70vh;
  }

  .aside {
    width: 100vw;
  }
}
